@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Josefin+Sans:wght@300&display=swap');

/* Background */

body {
    background-color: #040404;
    margin: 0em;
    font-family: Georgia, serif;
}

.hero-image {
    transform: scaleX(-1);
}

.hero-text {
    color: white;
    float: left;
    z-index: 1;
}

.container-fluid > .row > .hero-text > h1, h2, h3, h4, h5 {
    font-size: 30px;
}

.container-fluid > .row > .hero-text > h1 {
font-weight: bold;
}


/* Navigation Bar */

nav {
    height: 6vh;
    background: rgba(8, 8, 8, 0.5);
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    flex: auto;
    height: 3vh;
    min-height: 50px;
    padding-top: 1em;
}

nav li {
    list-style-type: none;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;
    margin: auto;
}

nav a {
    text-decoration: none;
    float: left;
    color: white;
    margin-right: 4em;
    margin-left:  8em;
    position: relative;
}

nav a:hover{
    color: rgb(194, 142, 0);
    text-decoration: none;
}

nav a::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    top: 100%;
    left: 20%;
    background-color: #333;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .2s ease-in-out 0s;
}

.stickNav {
    position: sticky;
    top: 0;
}

.currentPage{
    color: rgb(194, 142, 0);
}

.contactPage {
    float: right;
    margin-left: 2em;
}

.container-fluid{
    margin: 0;
}

.row{
    margin-left: 6em;
}



h2{
    margin-top: 7em;
}

img {
    margin: 0;
    justify-content: center;
    max-height: 50em;
}

.container-fluid > .row > .hero-text > h5 > a {
    color: rgb(194, 142, 0);
    font-size: large;
}
