@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* Background */

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #040404;
    margin: 0em;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

.hero-image {
    transform: scaleX(-1);
    float: right;
}

.hero-text {
    color: white;
    float: left;
    z-index: 1;
    margin-top: 5%;
    padding-left: 5%;
}

.container-fluid > .row > .hero-text > h1, h3, h4 {
    font-size: 30px;
}

h5 {
    font-weight: lighter;
    margin-top: 5%;
}


.container-fluid > .row > .hero-text > h1 {
font-weight: bold;
}




/* Navigation Bar */

nav {
    height: 6vh;
    background: rgba(8, 8, 8, 0.5);
    z-index: 2;
}

nav ul {
    margin: 0;
    padding: 0;
    flex: auto;
    height: 3vh;
    min-height: 50px;
    padding-top: 1em;
}

nav li {
    list-style-type: none;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;
    margin: auto;
}

nav a {
    text-decoration: none;
    float: left;
    color: white;
    margin-right: 4em;
    margin-left:  8em;
    position: relative;
}

nav a:hover{
    color: rgb(194, 142, 0);
    text-decoration: none;
}

nav a::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    top: 100%;
    left: 20%;
    background-color: #333;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .2s ease-in-out 0s;
}

.stickNav {
    position: sticky;
    top: 0;
}

.currentPage{
    color: rgb(194, 142, 0);
}

.contactPage {
    float: right;
    margin-left: 2em;
}

.container-fluid{
    flex-direction: column;
    height: 100%;
}

.row{
    margin-left: 6em;
}



h2{
    margin-top: 5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 42px;
}

img {
    margin: 0;
    justify-content: center;
    max-height: 50em;
}

.container-fluid > .row > .hero-text > h5 > a {
    color: rgb(194, 142, 0);
    font-size: large;
}

.aboutMe {
    color: rgb(255, 255, 255);
    z-index: 1;
    margin-top: 3%;
    padding-left: 7%;
}

.aboutMe > h3 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 3%;
}


.aboutMe > p {
    color: grey;
    font-family: 'Roboto Slab';
    text-align: center;
    margin-left: 10%;
}

.hero-text > p {
    margin-top: 2em;
}


.aboutMe-Section1 {
    color: grey;
    height: 100vh;
}

.work_section01 {
    color: grey;
    height: 70vh;
    background-color: rgb(24, 24, 24);
}

.styles {
    margin-left: 5%;
    margin-top: 5%;
}


.arrow {
    transition: all .2s ease-in-out;
    scroll-behavior: smooth;
    text-align: center;
}

.arrow:hover {
    opacity: 1;
}

.fa-arrow-down{
    color: rgb(194, 142, 0);
}

#talks{
    color: rgb(194, 142, 0);
}

#talks:hover {
    color: rgb(194, 142, 0);
}

.styles {
    text-align: center;
    margin-right: 5%;
}


.bg_image {
    width: 100%;
    border-radius: 5%;
}

.about_headings {
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.lowered {
    margin-top: 5%;

}

.container-fluid {
    margin: 0;
    padding: 0;
}

.col-12 {
    margin-top: 5%;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.tops, .middles, .bots {
    width: 100vw;
    height: 50vh;
    margin-right: 0;
}

.tops {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1b1b1b",GradientType=1);
}

.middles {
    background: rgb(56,56,56);
    background: -moz-linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838",endColorstr="#000000",GradientType=1);
}

.bots {
    background: rgb(97,97,97);
    background: -moz-linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#616161",endColorstr="#000000",GradientType=1);
}

.col-11 {
    max-width: 100%;
    flex: 0 0 100%;
}

.leftside {
    float: left;
    margin-left: 5%;
}

.rightside {
    float: right;
}

.pads {
    padding-top: 3%;
}

.pr_01 {
    margin-right: 5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ic_01 {
    margin-right: 5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ic_02 {
    margin-right: 6%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ic_03 {
    margin-right: 6.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_01 {
    margin-right: 5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_02 {
    margin-right: 6%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_03 {
    margin-right: 6.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

h1 {
    color: white;
    padding-top: 1.5%;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 1px;
    padding-top: 4.6em;
    margin-left: 1.7em;
}

