@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* Background */

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #040404;
    margin: 0em;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

.hero-image {
    transform: scaleX(-1);
    float: right;
}

.hero-text {
    color: white;
    float: left;
    z-index: 1;
    margin-top: 5%;
    padding-left: 5%;
}

.container-fluid > .row > .hero-text > h1, h3, h4 {
    font-size: 30px;
}

h5 {
    font-weight: lighter;
    margin-top: 5%;
}


.container-fluid > .row > .hero-text > h1 {
font-weight: bold;
}




/* Navigation Bar */

nav {
    height: 6vh;
    background: rgba(8, 8, 8, 0.5);
    z-index: 2;
}

nav ul {
    margin: 0;
    padding: 0;
    flex: auto;
    height: 3vh;
    min-height: 50px;
    padding-top: 1em;
}

nav li {
    list-style-type: none;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;
    margin: auto;
}

nav a {
    text-decoration: none;
    float: left;
    color: white;
    margin-right: 4em;
    margin-left:  8em;
    position: relative;
}

nav a:hover{
    color: rgb(194, 142, 0);
    text-decoration: none;
}

nav a::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 1px;
    top: 100%;
    left: 20%;
    background-color: #333;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .2s ease-in-out 0s;
}

.stickNav {
    position: sticky;
    top: 0;
}

.currentPage{
    color: rgb(194, 142, 0);
}

.contactPage {
    float: right;
    margin-left: 2em;
}

.container-fluid{
    flex-direction: column;
    height: 100%;
}

.row{
    margin-left: 6em;
}



h2{
    margin-top: 5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 42px;
}

img {
    margin: 0;
    justify-content: center;
    max-height: 50em;
}

.container-fluid > .row > .hero-text > h5 > a {
    color: rgb(194, 142, 0);
    font-size: large;
}

.aboutMe {
    color: rgb(255, 255, 255);
    z-index: 1;
    margin-top: 3%;
    padding-left: 7%;
}

.aboutMe > h3 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 3%;
}


.aboutMe > p {
    color: grey;
    font-family: 'Roboto Slab';
    text-align: center;
    margin-left: 10%;
}

.hero-text > p {
    margin-top: 2em;
}


.aboutMe-Section1 {
    color: grey;
    height: 100vh;
}

.work_section01 {
    color: grey;
    height: 70vh;
    background-color: rgb(24, 24, 24);
}

.styles {
    margin-left: 5%;
    margin-top: 5%;
}


.arrow {
    transition: all .2s ease-in-out;
    scroll-behavior: smooth;
    text-align: center;
}

.arrow:hover {
    opacity: 1;
}

.fa-arrow-down{
    color: rgb(194, 142, 0);
}

#talks{
    color: rgb(194, 142, 0);
}

#talks:hover {
    color: rgb(194, 142, 0);
}

.styles {
    text-align: center;
    margin-right: 5%;
}


.bg_image {
    width: 100%;
    border-radius: 5%;
}

.about_headings {
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.lowered {
    margin-left: 10%;
    position: relative;
    z-index: 2;
}

.white {
    color: white;
}

.grey {
    color: grey;
}

.yellow {
    color: #f0860c;
}

.yellow:hover {
    color: #f0860c;
    text-decoration: none;
}


.container-fluid {
    margin: 0;
    padding: 0;
}

.col-12 {
    margin-top: 5%;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.tops, .middles, .bots {
    width: 100vw;
    height: 50vh;
    margin-right: 0;
}

.tops {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,27,27,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1b1b1b",GradientType=1);
}

.middles {
    background: rgb(56,56,56);
    background: -moz-linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(56,56,56,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838",endColorstr="#000000",GradientType=1);
}

.bots {
    background: rgb(97,97,97);
    background: -moz-linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(97,97,97,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#616161",endColorstr="#000000",GradientType=1);
}

.col-11 {
    max-width: 100%;
    flex: 0 0 100%;
}

.leftside {
    float: left;
    margin-left: 5%;
}

.rightside {
    float: right;
}

.pads {
    padding-top: 3%;
}

.pr_01 {
    margin-right: 5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ic_01 {
    margin-right: 5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ic_02 {
    margin-right: 6%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ic_03 {
    margin-right: 6.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_01 {
    margin-right: 5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_02 {
    margin-right: 6%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_03 {
    margin-right: 6.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

h1 {
    color: white;
    padding-top: 1.5%;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 42px;
    letter-spacing: 1px;
    padding-top: 4.6em;
    margin-left: 1.7em;
}

form {
    z-index: 3;
    width: 300px;
    padding-top: 0;
}

.removepads {
    padding-top: 10%;
}

input {
    z-index: 3;
    width: 100%;
}

.submitbutton {
    height: 3em;
    width: 7em;
    margin-top: 10px;
    border-radius: 12px;
    color: #f0860c;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 9px 15px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
}

#name, #email, #message {
    border-radius: 12px;
    background-color: rgb(22, 22, 22);
    width: 620px;
    color: White;
}

textarea {
    resize: none;
}



/* Code below this line has been taken from https://www.w3schools.com/howto/howto_css_modal_images.asp. */

#myImg_01,
#myImg_02,
#myImg_03,
#myImg_04,
#myImg_05,
#myImg_06,
#myImg_07,
#myImg_08,
#myImg_09 {
    cursor: pointer;
    transition: 0.3s;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 40%;
    max-width: 700px;
    height: 100%;
  }

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Code Above this line has been taken from https://www.w3schools.com/howto/howto_css_modal_images.asp. */

@media only screen and (min-width: 200px) and (max-width: 500px) {


.tops, .middles, .bots {
    width: 100vw;
    height: 100vh;
    margin-right: 0;
}    

.tops, .middles, .bots {
    background: none;
}

.lowered {
    margin-left: 0;
}

#name, #email, #message {
    border-radius: 12px;
    background-color: rgb(22, 22, 22);
    width: 290px;
    color: White;
}


form {
    z-index: 3;
    width: 200px;
    padding-top: 0;
}

nav a {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

nav {
    height: auto;
}

.hero-text > h2 {
    margin-top: 0.5em;
    font-size: 52px;
}

.hero-text > p {
    margin-top: 0em;
    font-size: 32px;
}

.aboutMe {
    padding-left: 0%;
    margin-left: 5%;
    margin-right: 5%;
} 
.aboutMe > h3 {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.aboutMe > p {
    text-align: center;
    padding-left: 1%;
    font-size: 20px;
    margin-left: 0%;
    }

.pr_01, .ic_01, .ic_02, .ic_03, .ls_01, .ls_02, .ls_03 {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin-top: 5%;
}


.arrow {
    margin-top: 10%;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    height: 100%;
    }
}


@media only screen and (max-width: 500px) and (max-width:600px){

.container-fluid { 
    margin-left: 1px
}

.hero-text > h2 {
    margin-top: 0;
}

nav a {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
}

nav {
    height: auto;
}

.lowered {
    margin: 0;
    padding-bottom: 10px;
}

.pad_bot {
    padding-bottom: 60px;
}

#name, #email, #message {
    border-radius: 12px;
    background-color: rgb(22, 22, 22);
    width: 320px;
    color: White;
}

.hero-text {
    margin-top: 10%;
}

.pr_01 {
    margin-right: 8.5%;
    margin-top: 1.5%;
    border-radius: 2%;
    z-index: 1;
}

.ic_01 {
    margin-right: 8.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ic_02 {
    margin-right: 8.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ic_03 {
    margin-right: 8.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_01 {
    margin-right: 8.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_02 {
    margin-right: 8.5%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.ls_03 {
    margin-right: 8.5%;
    margin-left: 2%;
    margin-top: 1.5%;
    border-radius: 2%;
}

.tops, .middles, .bots {
    background: none;
}

#myImg_02 {
    width: 300px;
}

.aboutMe > p {
    margin-left: auto;
}

.aboutMe > h3 {
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    height: 100%;
}
}

@media only screen and (min-width: 600px) and (max-width: 960px){


nav a {
    margin-right: 3em;
    margin-left: 3em;
    margin-bottom: 10px;
}

.aboutMe {
    padding-left: 0%;
    margin-left: 5%;
    margin-right: 5%;
} 

.aboutMe > h3 {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.aboutMe > p {
    text-align: center;
    padding-left: 1%;
    font-size: 20px;
    margin-left: 0%;
}

.pr_01, .ic_01, .ic_02, .ic_03, .ls_01, .ls_02, .ls_03 {
    border-radius: 2%;
    z-index: 2;
    float: none;
    -ms-flex-align: center;
    margin-left: 10%;
    margin-top: 10%;
}

#myImg_02 {
    width: 300px;
}

.hero-text > h2 {
    margin-top: 2em;
    font-size: 52px;
}

.hero-text > p {
    margin-top: 2em;
    font-size: 32px;
}

.arrow {
    margin-top: 40%;
    font-size: 64px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    height: 100%;
}
}

@media screen and (min-width: 960px) and (max-width: 1600px) {

nav a {
    margin-right: 3em;
    margin-left: 3em;
    margin-bottom: 10px;
}

.aboutMe {
    padding-left: 0%;
    margin-left: 5%;
    margin-right: 5%;
} 
.aboutMe > h3 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.aboutMe > p {
    text-align: center;
    padding-left: 1%;
    font-size: 32px;
    margin-left: 0%;
    width: 100%;
    }

.pr_01, .ic_01, .ic_02, .ls_01, .ls_02 {
    border-radius: 2%;
    z-index: 2;
    float: right;
    -ms-flex-align: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

#myImg_02 {
    width: 300px;
}

.hero-text > h2 {
    margin-top: 2em;
    font-size: 52px;
}

.hero-text > p {
    margin-top: 2em;
    font-size: 32px;
}

.arrow {
    margin-top: 25%;
    font-size: 64px;
}

.hero-image > img {
    display: none;
}

.col-xl-6 {
    max-width: 100%;
    flex: 0 0 100%;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    height: 100%;
}

    h1 {
    color: white;
    padding-top: 1.5%;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 62px;
    letter-spacing: 1px;
    padding-top: 4.6em;
    margin-left: 1.7em;
}

    form {
    z-index: 3;
    width: 300px;
    padding-top: 0;
}
    
.removepads {
    padding-top: 10%;
}
    
input {
    z-index: 3;
    width: 100%;
}
    
.submitbutton {
    height: 3em;
    width: 7em;
    margin-top: 10px;
    border-radius: 12px;
    color: #f0860c;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 9px 15px;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
}
    
#name, #email, #message {
    border-radius: 12px;
    background-color: rgb(22, 22, 22);
    width: 1000px;
    color: White;
}
    
.laptops > p {
    font-size: 24px;
}
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(8, 8, 8, 0.5);
    display: block;
    color: white;
 }

 .social {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.social li {
    display: inline;
    color: inherit;
    float: right;
    transform: scale(1.2);
    letter-spacing: 3em;
}

.social :hover {
    color: #f0860c;
}

.copyright {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    float: left;
    justify-content: center;
    padding-bottom: 15px;
}
